#first{
    background-color: #0000ff;
}
.heading{
    background-color: #ff0000;
}
.box1{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    float: left;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: green;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    float: left;
}
.box3{
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
    float: left;
}
*{
    padding: 50px;
    margin: 50px;
}